vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|19 Jan 2012 06:24:15 -0000
vti_extenderversion:SR|5.0.2.4803
vti_cacheddtm:TX|19 Jan 2012 06:24:15 -0000
vti_filesize:IR|15398
vti_cachedlinkinfo:VX|S|/static/images/logo.jpg S|/static/images/play.gif S|/static/images/pause.png S|/static/images/icon-sub-small.png S|/static/images/icon-sub-small.png S|/static/images/up.png S|/static/images/down.png S|/static/images/icon-sub-small.png S|/static/images/favourite.png S|/static/images/player-container-bg.png S|/static/images/bg-player.png S|/static/images/volume_on.png
vti_cachedsvcrellinks:VX|FSUS|static/images/logo.jpg FSUS|static/images/play.gif FSUS|static/images/pause.png NSUS|static/images/icon-sub-small.png NSUS|static/images/icon-sub-small.png FSUS|static/images/up.png FSUS|static/images/down.png NSUS|static/images/icon-sub-small.png FSUS|static/images/favourite.png FSUS|static/images/player-container-bg.png FSUS|static/images/bg-player.png FSUS|static/images/volume_on.png
vti_backlinkinfo:VX|
